{% extends 'mainapp/base.html' %}
{% load static %}

{% block titulo_seccion %}
Detalles
{% endblock %}

{% block contenido %}
<div class="max-w-2xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden border border-gray-200">
    <div class="p-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">{{animal}}</h1>
         <p><strong>Nombre:</strong> {{animal.nombre}}</p>
        <p><strong>Sexo:</strong> {{animal.get_sexo_display}}</p>
        <p><strong>Fecha de nacimiento:</strong> {{animal.fecha_nac}}</p>
        {% if animal.foto %}
        <img src="{{animal.foto.url}}" alt="{{animal.nombre}}" >
        {% else %}
        <img src="{% static 'img/avatar_default.jpg' %}" alt="Imagen default de un avatar">
        {% endif %}
        <p><strong>Recinto:</strong> {{animal.recinto}}</p>
        <p><strong>Especie:</strong> {{animal.especie}}</p>
        <a href="{% url 'ver_animales' %}"
            class="inline-block mt-4 text-blue-600 hover:text-blue-800 font-semibold">&larr; Volver a la lista</a>
    </div>
</div>
{% endblock %}